.audit {
    padding: 30px;

    h2 {
        padding: 30px;
        text-align: center;
    }

    .grid {
        display: flex;
        justify-content: space-between;
        align-items: stretch;
        flex-wrap: wrap;
        flex-flow: row wrap;
    }

    .gridCentered {
        display: flex;
        justify-content: center;
    }
    .gridLeft {
        display: flex;
        justify-content: flex-start;
    }
    .gridRight {
        display: flex;
        justify-content: flex-end;
    }

    .box {
        flex-grow: 1;
        // border: 1px solid red;
    }
}