.footer {
	padding: 1rem;
    margin-top: 1rem;
    background: #fff;
    color: #444;
    font-size: 0.9rem;

    .toRight {
        float: right;
    }

    .fixedBottom {
        position: fixed;
        bottom: 0;
        left: 0;
        right: 0;
        padding: 0.7rem 3rem 0.5rem;
        transition: 0.15s padding ease-out;
        background-image: linear-gradient(rgba(250, 250, 250, 0) 0%, rgba(250, 250, 250, 0.7) 20%);
        a {
            text-decoration: none;
            color: #aaa;
            padding: 1rem;
            &:hover {
                color: #444;
            }
        }
        &:hover {
            padding: 1.2rem 3rem 1rem;
        }
    }
}