.header {
    padding: 1rem;
    background: #eeeeee;
    margin-bottom: 2rem;
    border-bottom: 1px solid #777777;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.title {
    color: #444444;
    font-size: 3rem;
    text-decoration: none;
    margin-right: 1.5rem;
}

.nav-list {
    display: flex;
    list-style-type: none;
    margin: 0;
}

.nav-item {
    color: #999999;
    font-size: 1rem;
    margin-right: 1px;
    text-decoration: none;
    line-height: 4rem;
    padding: 1rem;
}

.nav-item:hover {
    color: #666666;
    background-color: #ffffff;
}

.active-nav-item {
    color: #444444;
}