.container {
    padding: 0;

    display: flex;
    flex-direction: column;
    min-height: 100vh;
    min-width: 320px;
}

.main {
	padding: 1rem;
    color: #444444;
    max-width: 1200px;
    margin: 0 auto;

    a {
        color: #444444;
        text-decoration: none;
        &:hover {
            text-decoration: underline;
        }
    }
}

.content {
    flex-grow: 1;
}